extends: default.liquid
title: "Cobalt::Docs::Pages"
---

<section class="docs">
  <div class="inner">
    <aside>
      <ul>
        <li><a href="/docs/">Getting Started</a></li>
        <li><a href="/docs/usage.html">Usage</a></li>
        <li><a href="/docs/layouts.html">Layouts</a></li>
        <li><a class="active" href="/docs/pages.html">Pages</a></li>
        <li><a href="/docs/posts.html">Posts</a></li>
        <li><a href="/docs/rss.html">RSS</a></li>
        <li><a href="/docs/deployment.html">Deployment</a></li>
      </ul>
    </aside>
    <main>
      <h2>Pages</h2>
      <p>All files and directories in the source folder will be recursively
      added to your destination folder (including assets).  You can exclude
      some files by setting <code>igmore</code> in your .cobalt.yml file</p>
      <p>Any file with the .md or .liquid file extension is considered a liquid
      template and will be parsed for metadata and compiled using liquid, like
      a post.  You can specify different template extensions by setting the
      <code>template_extensions</code> field in your config file:</p>
      <pre><code>template_extensions: ['txt', 'lqd']</code></pre>

      <h3>Defining Attributes</h3>
      <p>Front matter is the content before <code>---</code> in a page and
      where meta attributes are defined using yaml.
      <p>Example:</p>
      <pre><code>
extends: posts.liquid

title:   My first Blogpost
date:    01 Jan 2016 21:00:00 +0100
---
Hey there this is my first blogpost and this is super awesome.

My Blog is lorem ipsum like, yes it is..
</code></pre>
      <h4>Special Attributes</h4>
      <h5>extends</h5>
      <p><code>extends</code> specifies which <a href="/docs/layouts.html">layout</a> will be
      used.</p>
      <h5>excerpt_separator</h5>
      <p><code>excerpt_separator</code> specifies up to what point of the page
      will be used in an excerpt.  Setting <code>excerpt_separator</code> to ""
      will cause the entire page to be used.  This can also be set globally in
      .colbalt.yml.  By default \n\n is used.</p>
      <h5>description</h5>
      <p><code>description</code> will be used in your RSS post, if
      available.  Otherwise <code>excerpt</code> will be used.</p>
      <h5>path</h5>
      <p><code>path</code> see "Custom Paths" below</p>

      <h3>Accessing Attributes</h3>
      <p>All template files (including layouts) have access to a set of
      attributes.</p>
      <p>In example above title is accessible via <code>{% raw %}{{ title }}{% endraw %}</code> and
      date via <code>{% raw %}{{ date }}{% endraw %}</code>, for the layout template as well as the
      post template.</p>
      <h4>Special Attributes</h4>
      <h5>content</h5>
      <p><code>{% raw %}{{ content }}{% endraw %}</code> is accessible only to layouts and contains
      the compiled text below the front matter of the page.</p>
      <h5>excerpt</h5>
      <p><code>{% raw %}{{ excerpt }}{% endraw %}</code> contains the compiled text between the
      front matter and the <code>excerpt_separator</code>.</p>
      <h5>posts</h5>
      <p><code>{% raw %}{{ posts }}{% endraw %}</code> is a list of the attributes of all templates
      in the <code>posts</code> directory in <code>date</code> order.  All
      attributes defined for your post are available. Example usage on a page
      listing all blog posts:</p>
      <pre><code>
{% raw %}{% for post in posts %}{% endraw %}
{% raw %}  &lt;a href="{{post.path}}"&gt;{{ post.title }}&lt;/a&gt;{% endraw %}
{% raw %}{% endfor %}{% endraw %}
</code></pre>
      <h5>is_post</h5>
      <p><code>{% raw %}{{ is_post }}{% endraw %}</code> can be used to alter templates based on if
      the page is a post.</p>
      <h5>draft</h5>
      <p><code>{% raw %}{{ draft }}{% endraw %}</code> can be used to alter templates or indexes
      based on if the post is a draft.</p>

      <h3>Custom Paths</h3>
      <p>Custom paths are much like permalinks in Jekyll, but with a bit more
      flexibility. You can specify a <code>path</code> attribute in the front
      matter of any document to give it a custom path. The path is always
      relative to the document root, independent of where the file is
      located.</p>
      <p>Example:</p>
      <pre><code>extends: posts.liquid

title:   My first Blogpost
path: /some/other/path/
</code></pre>
      <p>would result in a file with the url
      <pre><code>your-website.com/some/other/path/index.html</code></pre></p>
      <p>You can also set a global attribute <code>post_path</code> in your
      .cobalt.yml that will be used for all posts.</p>
      <p>Any attribute in the front matter can be interpolated into the path.
      See below for more information on attributes</p>
      <p>If you set a <code>date</code> attribute you have access to several
      other custom attributes. See the <a
      href="https://jekyllrb.com/docs/permalinks/#template-variables">Jekyll
      documentation</a>.</p>
      <p>More examples:</p>
      <pre><code>date: 01 Jan 2016 21:00:00 +0100
path: /:year/:month/:day/thing.html
</code></pre>
      <p>-&gt; <code>/2016/01/01/thing.html</code></p>
      <pre><code>date: 01 Jan 2016 21:00:00 +0100
author: johann
path: /:author/:year/:month/:day/title
</code></pre>
      <p>-&gt; <code>/johann/2016/01/01/title/index.html</code></p>

      <h3>Syntax Highlighting</h3>
      <p>This feature is currently experimental and causes installation to fail on Windows. To enable syntax highlighting, you need to install Cobalt using cargo like this:</p>
      <pre><code>cargo install cobalt-bin --features="syntax-highlight"</code></pre>
      <p>If you <a
      href="https://help.github.com/articles/creating-and-highlighting-code-blocks/#syntax-highlighting">annotate
      your Markdown code blocks</a>, Cobalt will automatically highlight source
      code using <a href="https://github.com/trishume/syntect/">Syntect</a>.</p>
    </main>
  </div>
</section>
